<li class="treeview">
    <a href="#">
        <i class="fa fa-cutlery"></i> <span>Dieta</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("ListaDieta", "Diet")"><i class="fa fa-circle-o"></i> Dieta</a></li>
        <li><a href="@Url.Action("ListaFood", "Diet")"><i class="fa fa-circle-o"></i> Food</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-futbol-o"></i> <span>Exercício</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("ListaSet", "Exercise")"><i class="fa fa-circle-o"></i> SET</a></li>
        <li><a href="@Url.Action("ListaExercicio", "Exercise")"><i class="fa fa-circle-o"></i> Exercício</a></li>
    </ul>
</li>